[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "==1.16.0"
slack-sdk = "==3.19.5"
aiohttp = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
